@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: bold;
  color: #000; /* or any other styles you want */
}

.tooltip {
  --tooltip-color: #d94445;
  --tooltip-text-color: #fff;
}

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins Medium";
    src: url("assets/fonts/Poppins-Medium.ttf");
  }
}
